* {
    margin: 0;
    padding: 0;
}

.stylesNavbar {
    background-color: rgb(221, 221, 221);
    font-family: sans-serif;
    display:flex;
    align-items: center;
    justify-content:space-around;
}

.styleLogo {
    width: 15%;
}

.stylesList {
display: flex;
margin: 20px 20px;
}

li {
    font-size: 18px;
    padding: 10px 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}